* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Century Gothic, 'sans-serif';
}

body {
 background-color: #232830;
 color: #ffffff;
}

.maintenace {
 width: 50%;
 margin: 0 auto;
 background: url(mainte.jpg);
}
